@mixin Flex($direction, $just, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $just;
  align-items: $align;
}

body {
  @include Flex(column, center, normal);

  footer {
    margin-top: auto;
  }
}

header {
  a:nth-child(2) {
    border-bottom: none;
  }

  a:nth-child(3) {
    border-bottom: 3px solid black;
  }
}

form[name="calculator"] {
  //flex: none;
  @include Flex(column, center, center);
  border: 1px solid rgba(128, 128, 128, 0.79);
  border-radius: 20px;
  margin: 55px;
  padding: 50px;
  h1{
    font-size: 40px;
  }
  h3{
color: #262626;
    margin-bottom: 30px;
  }
//ul{
//  list-style: none;
//  box-shadow: 1px 1px 20px rgba(111, 110, 110, 0.78);
//  li{
//    height: 30px;
//    width: 700px;
//    padding-left: 10px;
//    border: 1px solid rgba(189, 182, 182, 0.79);
//  }
//  li:not(li:first-child){
//    display: none;
//  }
//}

  .deposit_wrapper{
    @include Flex(row,normal, normal);
    width: 100%;
    .row{
      @include Flex(column,normal, normal);
      width: 500px;
      margin: 0 auto;
    }
    .date{
      width: 500px;
    }
  }
  .result_of_deposit {
    p:first-child {
      font-size: 24px;
    }

    p:nth-child(2) {
      font-size: 48px;
    }

    width: 500px;
    height: 350px;
    background-color: rgba(199, 199, 199, 0.32);
    border-radius: 20px;
    padding: 20px;
    @include Flex(column, normal, center);
    margin: 0 auto;

    .order {
      margin-top: auto;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid rgba(189, 182, 182, 0.79);
    margin-top: 20px;

    tr > td:first-child {
      height: 50px;
      font-size: 18px;
    }
    tr > td:last-child{
      font-size: 30px;
      text-align: right;
    }

  }
}

.value_of_cash{
  //width: 500px;
  margin-bottom: 20px;
  input{
    height: 50px;
    width: 100%;
    border: 1px solid rgba(189, 182, 182, 0.79);

  }
}
.date{
  .date_wrapper{
    //width: 500px;
    @include Flex(row,normal,normal);
    border: 1px solid rgba(189, 182, 182, 0.79);
    cursor: pointer;
  }
  .choose_months{
    position: relative;
    //padding-left: -20px;
    height: 50px;
    @include Flex(column,center, normal);
    .current_months {
      padding-left: 20px;
    }
    ul{
      position: absolute;
      top: 100%;
      margin-top: 10px;
      display: none;
    }
    .switch{
      display: block;
    }

    ul > li{
      height: 50px;
      border: 1px solid rgba(189, 182, 182, 0.79);
      width: 500px;
      list-style: none;
      @include Flex(column, center, normal);
      padding-left: 20px;
      background-color: #fff;
      &:hover{
        background-color: #fff -#111111;
      }
    }

  }
  .open_close{
    margin-left: auto;
    svg{
      cursor: pointer;
    }
  }

}
@media screen and (max-width: 1000px){
.deposit_wrapper{
  @include Flex(column !important, normal !important, center !important);
}
  .row{
    margin-bottom: 50px !important;
  }

}