*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    src: local("Inter");
    src: url("Inter_Fonts/Inter-Light.ttf");
    font-family: "Inter";
    font-weight: 200;
}
@font-face {
    src: local("Inter");
    src: url("Inter_Fonts/Inter-Medium.ttf");
    font-family: "Inter";
    font-weight: 400;
}
@font-face {
    src: local("Inter");
    src: url("Inter_Fonts/Inter-SemiBold.ttf");
    font-family: "Inter";
    font-weight: 700;
}
@font-face {
    src: local("Inter");
    src: url("Inter_Fonts/Inter-Bold.ttf");
    font-family: "Inter";
    font-weight: 900;
}
html,body{
    min-height: 100%;
    width: 100vw;
}
.container{
    background-color: #CBECFF;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}
.header{
    display: flex;
    justify-content: flex-end;
    font-size: 1.2em;
    align-items: center;
    padding-top: 26px;
    /*margin: 2em;*/
}
p{
    font-size: 16px;
}
.header_ru{
    margin-right: 1.3em;
    background-color: #ffff;
    border-radius: 50%;
    padding: 10px;
    color: #0962E8;
}
.header_en{
    margin-right: 1.3em;
}
.logo{
    display: flex;
    min-width: 100%;
    margin-bottom: 3%;
}
.fin{
    font-family: Inter;
    font-size: 64px;
    line-height: 130%;
    font-weight: 700;
    color: #29374E;
}
.kit{
    font-family: Inter;
    font-size: 64px;
    line-height: 130%;
    font-weight: 700;
    color:  #0962E8;
    background-color: #fff;
    border-radius: 20px;
    padding: 0 7px 0  7px;
    margin-left: 3%;

}

section{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    height: 678px;
}

.order{
    background-color: #0962E8;
    height: 63px;
    border-radius: 12px;
    width: 70%;
    border: none;
    color: #ffffff;
}
.telephone{
    width: 80%;
}
.phone{
width: 100%;
    margin-left: 10%;
}
.content{
    justify-content: space-between;
    width: 40%;
    margin-left: 15%;

}
.content p {
    line-height: 27px;
    font-size: 22px;
    font-family: Inter;
    font-weight: 400;
    margin-bottom: 3%;

}
.bottom_part_of_main{
    position: relative;
    top: 36px;
    display: flex;
    justify-content: center;
}
.bottom_part_of_main>div{
    display: flex;
    align-items: center;
    height: 118px;
    width: 25%;
    margin-right: 3%;
    background-color: #ffffff;
    font-family: Inter;
    font-weight: 400;
    border-radius: 20px;
    padding: 0 10px 0 10px;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
}
.background_icons{
    align-self: flex-start;
    margin-top: 10%;
}
.bottom_part_of_main> div> img{
    width: 20px;
    height: 20px;
}
.bottom_part_of_main span{
    background-color: #EFF9FF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bottom_part_of_main p{
    width: 89%;
}
h2{
    text-align: center;
    margin-top:10%; 
    font-size: 38px;
    color: #29374E;
    font-family: Inter;
    font-weight: 200;
}
h2 span{
    color: #0962E8;
    
}
.row_of_risk{
    font-family: Inter;
    font-weight: 400;
}
.left_block{
    display: flex;
    justify-content: center;
    background-color: #E9F6FF;
    width: 503px;
    height: 328px;
    border-radius: 30px;
}

.left_block p:first-child{
    font-weight: bold;
    font-size: 20px;
}
.left_text p:first-child{
    margin-bottom:10px;
}
.left_text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
}


@media (max-width: 900px)  {
    .telephone{
        width: 110%;
        overflow: hidden;
    }
}