body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal; }
  body footer {
    margin-top: auto; }

header a:nth-child(2) {
  border-bottom: 3px solid transparent; }
header a:nth-child(3) {
  border-bottom: 3px solid black; }

form[name="calculator"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.79);
  border-radius: 20px;
  margin: 55px;
  padding: 50px; }
  form[name="calculator"] h1 {
    font-size: 40px; }
  form[name="calculator"] h3 {
    color: #262626;
    margin-bottom: 30px; }
  form[name="calculator"] .deposit_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    width: 100%; }
    form[name="calculator"] .deposit_wrapper .row {
      display: flex;
      flex-direction: column;
      justify-content: normal;
      align-items: normal;
      width: 500px;
      margin: 0 auto; }
    form[name="calculator"] .deposit_wrapper .date {
      width: 500px; }
  form[name="calculator"] .result_of_deposit {
    width: 500px;
    height: 350px;
    background-color: rgba(199, 199, 199, 0.32);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    margin: 0 auto; }
    form[name="calculator"] .result_of_deposit p:first-child {
      font-size: 24px; }
    form[name="calculator"] .result_of_deposit p:nth-child(2) {
      font-size: 48px; }
    form[name="calculator"] .result_of_deposit .order {
      margin-top: auto; }
  form[name="calculator"] table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid rgba(189, 182, 182, 0.79);
    margin-top: 20px; }
    form[name="calculator"] table tr > td:first-child {
      height: 50px;
      font-size: 18px; }
    form[name="calculator"] table tr > td:last-child {
      font-size: 30px;
      text-align: right; }

.value_of_cash {
  margin-bottom: 20px; }
  .value_of_cash input {
    height: 50px;
    width: 100%;
    border: 1px solid rgba(189, 182, 182, 0.79); }

.date .date_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  border: 1px solid rgba(189, 182, 182, 0.79);
  cursor: pointer; }
.date .choose_months {
  position: relative;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal; }
  .date .choose_months .current_months {
    padding-left: 20px; }
  .date .choose_months ul {
    position: absolute;
    top: 100%;
    margin-top: 10px;
    display: none; }
  .date .choose_months .switch {
    display: block; }
  .date .choose_months ul > li {
    height: 50px;
    border: 1px solid rgba(189, 182, 182, 0.79);
    width: 500px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    padding-left: 20px;
    background-color: #fff; }
    .date .choose_months ul > li:hover {
      background-color: #eeeeee; }
.date .open_close {
  margin-left: auto; }
  .date .open_close svg {
    cursor: pointer; }

@media screen and (max-width: 1000px) {
  .deposit_wrapper {
    display: flex;
    flex-direction: column !important;
    justify-content: normal !important;
    align-items: center !important; }

  .row {
    margin-bottom: 50px !important; } }

/*# sourceMappingURL=calculator.css.map */
